{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Brazil</title>

        <link rel="shortcut icon" type="image/ico" href="{% static 'images/Flag_of_Brazil.png' %}">

        <!--    Google Fonts-->
        <link href= 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'  rel='stylesheet' type='text/css'>


        <!--Animated CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/animate.min.css' %}">

        <!-- Bootstrap -->
        <link href="{% static 'css/main/bootstrap.min.css' %}" rel="stylesheet" >

        <link rel="stylesheet" href="{% static 'css/main/isotope/style.css' %}">

        <!--Main Stylesheet-->
        <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/main/styles1.css' %}">
        <!--Responsive Framework-->
        <link href="{% static 'css/main/responsive.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <!--Start Hedaer Section-->
        <section id="header">
            <div class="header-area">
                <div class="top_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="address">
                                    <p>MultiCampus Team Project</p>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="phone">
                                    <p>2023.03.06 ~ 2023.03.17</p>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of top header-->
                <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                    <div class="container">
                        <nav class="navbar navbar-default zero_mp ">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand custom_navbar-brand" href=".."><img src="{% static 'images/coffee_icon.png' %}" style="float: left; width: 70px; height: 50px;" alt=""></a>
                            </div>
                            <!--End of navbar-header-->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main_menu">
                                    <li><a class="header" href="../Colombia_a.html">콜롬비아</a></li>
                                    <li><a class="header" href="../Brazil_a.html">브라질</a></li>
                                    <li><a class="header" href="../Ethiopia_a.html">에티오피아</a></li>
                                    <li><a class="header" href="../Kenya_a.html">케냐</a></li>
                                    <li><a class="header" href="../tanzania.html">탄자니아</a></li>
                                    <li><a class="header" href="../Mexico.html">멕시코</a></li>
                                    <li><a class="header" href="../base.html">리뷰</a></li>
                                    <li><a class="header" href="../index.html">뉴스기사</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                        <!--End of nav-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of header menu-->
            </div>
            <!--end of header area-->
        </section>
        <!--End of Hedaer Section-->
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">브라질</h1>
                            <!-- Post meta content-->
                            <!-- <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div> -->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://cdn.cafeimports.com/images/39527-brazilwebmap.png" alt="..." /></figure>
                        <!-- Post content--> 
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5" id="history">커피 역사</h2>
                            <p class="fs-3 mb-3">브라질에 커피가 처음 도착할 때는 1727년. 프란시스코 지 멜라 팔레타 해군 장군이 씨앗을 가져와 심은 것이 브라질 최초의 커피나무였다. 그러나 브라질에서 본격적으로 커피가 재배된 것은 80여 년이 흐른 1840년대에 이르러서다. 당시 엄청난 수의 아프리카 흑인 노예들이 브라질에 유입되었는데, 브라질은 풍부해진 노동력을 이용해 사탕수수와 커피 농사를 본격적으로 할 수 있었다.</p>
                            <p class="fs-3 mb-4">그 후로 브라질 커피 산업은 비약적인 발전을 이루었다.
                                1920년대에 브라질 커피 생산은 그 최고점에 다다라 전 세계 커피 소비량의 80%를 공급할 정도였다. 그러나 1950년대에 들어서면서 중남미 여러 나라에서 커피 생산이 본격화되면서 브라질이 커피 시장에서 차지하던 공급량은 줄어들었다.
                                </p>

                            <h2 class="fw-bolder mb-4 mt-5" id="character">커피 특징</h2>
                            <p class="fs-3 mb-3">브라질은 세계 최대의 커피 생산지로도 매우 유명하다. 1920년대에는 전 세계 커피 생산량의 80%를 차지했으며, 현재는 베트남, 콜롬비아 등 다른 나라의 커피 생산량의 증가에도 불구하고 35%로 세계 1위의 시장점유율을 유지하고 있다.</p>
                            <p class="fs-3 mb-3">브라질 커피 문화의 가장 큰 특징 두 가지는 재배와 소비 측면이다.
                                먼저 커피 재배 측면에서 보면 브라질의 커피 농업은 상당 부분 기계화되었다는 것이다.
                                국토 면적이 넓고, 험준한 산악 지대가 많지 않아 대규모 경작이 가능하기 때문이다. 따라서 커피나무를 심을 때도, 평평한 농지에 줄을 맞춰 심어 기계로 수확하기 편하도록 작업하며, 수확한 후에 열매를 선별하는 점도 다른 나라와 차별되는 브라질만의 커피 재배 방식이다.</p>
                            <p class="fs-3 mb-3">커피는 대부분 내추럴(커피체리째로 말린 것)로 가공하는데 이는 약 90%에 달하며, 나머지 10% 내외의 커피가 펄프드 내추럴(커피체리의 껍질을 벗겨내고 점액질 상태로 말린 것)과 세미워시드(커피체리 껍질을 벗겨내고 기계에 넣어 점액질을 제거해 말린 것), 그리고 일부 워시드(껍질을 벗겨내고 발효 후 씻어서 건조)로 가공된다.
                                브라질 커피의 가공 방식은 습식법보다 자연 건조식으로 바디감이 강한 편이고 단맛도 좋은 편이다. 생두의 크기는 주로 소형에서 중형이며 두께가 얇은 라이트한 바디가 대부분이다. </p>
                            <p class="fs-3 mb-4">또 하나의 특징이 바로 커피를 소비하는 방식이다.
                                브라질은 생산되는 커피의 절반 정도를 모두 국내에서 소화하는데 이는 겨울이 없는 더운 기후의 국가치고는 상당한 양이다. 이는 더운 나라임에도 불구하고 뜨겁고 진한 커피를 선호한다는 것이다. 브라질의 대표 커피는 데미타스(demitasse)에 마시는 달콤한 블랙커피인 카페 징요(Cafe zinho)로, 주로 점심을 먹고 난 뒤 마시거나 손님들에게 환대의 의미로 대접한다. </p>

                            <h2 class="fw-bolder mb-4 mt-5" id="productionarea">커피 생산지역</h2>
                            <p class="fs-3 mb-3">안데스산맥이 관통해 해발고도가 높은 대부분의 남미 국가와는 달리, 브라질은 비교적 낮은 고도의 대규모 농장에서 커피를 생산한다. 주요 커피 생산지는 브라질의 최대 공업도시이자 금융 중심지이기도 한 상파울루(São Paulo)와 브라질고원에 위치한 미나스제라이스(Minas Gerais), 에스피리투 산토(Espiritu Santo), 파라나(Parana) 지역이다. 특히 상파울루는 해발고도 800m에 연평균 18.2℃의 온화한 기후, 그리고 테라로사(terra rossa)로 불리는 비옥한 토양이 있어 브라질 경제의 중추 역할을 하는 커피 재배의 중심지이다.</p>
                            <p class="fs-3 mb-3">1554년 예수회 수도사들이 전도를 목적으로 형성한 마을에서 시작된 상파울루는 오랫동안 소도시로 머물다가 19세기 후반, 비옥한 테라로사 토양을 기반으로 커피 재배가 활발해지면서 빠르게 발전하기 시작했다. 특히 상파울루 산투스(Santos)에는 브라질 대부분의 물류가 이동하는 중요한 항구가 있어 커피 재배는 물론 집산지로도 중요한 역할을 하고 있다.</p>
                            <p class="fs-3 mb-3">상파울루가 커피 재배는 물론 유통 중심지로의 역할을 하고 있다면, 미나스제라이스 주(州)는 낮은 산지와 평원 등으로 이루어진 고원 지대를 기반으로 대규모 커피 재배가 가능해 브라질 커피 생산량의 절반 이상을 책임지고 있다. 미나스제라이스 주의 대표 커피 생산지인 술데미나스(Sul de Minas)의 원두는 고지대의 서늘한 기후의 영향으로 감귤류와 꽃의 상큼한 풍미가 강해 많은 이들이 브라질 최고의 원두로 손꼽기도 한다.</p>
                            <p class="fs-3 mb-3">커피 생산지역이 넓어서 지역별 기후 조건과 토양 특성에 따라 다양한 품종, 품질의 커피를 생산한다. 비교적 저지대에서 재배되며 중간 사이즈의 생두 크기로 부드러운 신맛과 쓴맛이 나는 것이 특징이다. 하지만 뚜렷한 개성보다는 중성적인 맛으로 평가받으며 싱글 오리진보다는 블렌딩에 더 잘 활용되는 원두로 주목받고 있다.</p>
                            <p class="fs-3 mb-3">주로 재배하는 품종은 부르봉(Bourbon), 티피카(Typica) 등 아라비카(Arabica)의 변종 및 교배종과 로부스타(Robusta)종인 코닐론(Conilon)이 있다.
                                개화 시기는 10~12월로 수확 시기는 5~9월이며 자연건조식을 이용하는 소수의 국가 중 하나로 자연건조식은 과육의 당 성분이 생두에 배어들어 단맛과 바디감이 훌륭하지만 건조과정에서 잘못하면 발효된 맛이 날 수도 있다는 단점이 있다.</p>

                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4 upmargin">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#history">커피 역사</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#character">커피 특징</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><li><a href="#productionarea">커피 생산지역</a></li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">참고 자료</div>
                        <div class="card-body">
                            "<a href="https://terms.naver.com/entry.naver?docId=1105279&cid=40942&categoryId=34129" target="_blank">브라질</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1327035&cid=40942&categoryId=32127" target="_blank">브라질 커피</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://www.cafeimports.com/north-america/brazil" target="_blank">cafe imports</a>". cafe imports
                            <br>
                            "<a href="http://terarosalibrary.com/tera-times/4856/" target="_blank">terarosa library</a>". 테라로사 도서관. 2014
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=2059108&cid=43965&categoryId=43965" target="_blank">상파울로 [São Paulo]</a>". 세계지명사전 중남미편 : 인문지명. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=2074218&cid=43966&categoryId=43966" target="_blank">브라질 고원의 지형</a>". 세계지명사전 중남미편 : 자연지명. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1327035&cid=40942&categoryId=32127" target="_blank">브라질 커피</a>". 두산백과, 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1178179&cid=40942&categoryId=33134" target="_blank">브라질의 문화</a>". 두산백과, 네이버지식백과
                            <br>
                            "<a href="https://lady.khan.co.kr/finance/article/12415/?pt=nv" target="_blank">[세계인의 건강비법]브라질-음식과 웃음으로 건강 지키기</a>". 레이디경향. 2009
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Start of footer-->
        <section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>@ 2023 - Design By 권묘선, 김아형, 김윤정, 김진권, 이성용</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <!--End of footer-->

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!--Scroll to top-->
        <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
        <!--End of Scroll to top-->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>-->
        <script src= "{% static 'js/main/jquery-1.12.3.min.js' %}"></script>

        <!--Counter UP Waypoint-->
        <script src= "{% static 'js/main/waypoints.min.js' %}"></script>

        <!--Isotope-->
        <script src="{% static 'js/main/isotope/min/scripts-min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/cells-by-row.js' %}"></script>
        <script src= "{% static 'js/main/isotope/isotope.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/packery-mode.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/scripts.js' %}" ></script>


        <!--Back To Top-->
        <script src= "{% static 'js/main/backtotop.js' %}" ></script>


        <!--JQuery Click to Scroll down with Menu-->
        <script src= "{% static 'js/main/jquery.localScroll.min.js' %}"></script>
        <script src= "{% static 'js/main/jquery.scrollTo.min.js' %}"></script>
        <!--WOW With Animation-->
        <script src= "{% static 'js/main/wow.min.js' %}"></script>
        <!--WOW Activated-->
        <script>
            new WOW().init();
        </script>


        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src= "{% static 'js/main/bootstrap.min.js' %}" ></script>
        <!-- Custom JavaScript-->
        <script src= "{% static 'js/main/main.js' %}"></script>
    </body>
</html>
