{% load static %}

<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Colombia</title>

        <link rel="shortcut icon" type="image/ico" href="{% static 'images/Flag_of_Colombia.svg' %}">

        <!--    Google Fonts-->
        <link href= 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'  rel='stylesheet' type='text/css'>


        <!--Animated CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/animate.min.css' %}">

        <!-- Bootstrap -->
        <link href="{% static 'css/main/bootstrap.min.css' %}" rel="stylesheet" >

        <link rel="stylesheet" href="{% static 'css/main/isotope/style.css' %}">

        <!--Main Stylesheet-->
        <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/main/styles1.css' %}">
        <!--Responsive Framework-->
        <link href="{% static 'css/main/responsive.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <!--Start Hedaer Section-->
        <section id="header">
            <div class="header-area">
                <div class="top_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="address">
                                    <p>MultiCampus Team Project</p>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="phone">
                                    <p>2023.03.06 ~ 2023.03.17</p>
                                </div>
                            </div>
                            
                            <!--End of col-md-4-->
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of top header-->
                <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                    <div class="container">
                        <nav class="navbar navbar-default zero_mp ">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand custom_navbar-brand" href=".."><img src="{% static 'images/coffee_icon.png' %}" style="float: left; width: 70px; height: 50px;" alt=""></a>
                            </div>
                            <!--End of navbar-header-->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main_menu">
                                    <li><a class="header" href="../Colombia_a.html">콜롬비아</a></li>
                                    <li><a class="header" href="../Brazil_a.html">브라질</a></li>
                                    <li><a class="header" href="../Ethiopia_a.html">에티오피아</a></li>
                                    <li><a class="header" href="../Kenya_a.html">케냐</a></li>
                                    <li><a class="header" href="../tanzania.html">탄자니아</a></li>
                                    <li><a class="header" href="../Mexico.html">멕시코</a></li>
                                    <li><a class="header" href="../base.html">리뷰</a></li>
                                    <li><a class="header" href="../index.html">뉴스기사</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                        <!--End of nav-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of header menu-->
            </div>
            <!--end of header area-->
        </section>
        <!--End of Hedaer Section-->
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">콜롬비아</h1>
                            <!-- Post meta content-->
                            <!-- <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div> -->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://cdn.cafeimports.com/images/41231-colombiamapweb.png" alt="..." /></figure>
                        <!-- Post content--> 
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5" id="history">커피 역사</h2>
                            <p class="fs-3 mb-3">콜롬비아의 커피 역사는 1800년대 초로 거슬러 올라간다. 유럽 선교사들을 통해 소개되어 커피 경작이 시작된 이후, 1900년에는 세계 최대 커피 생산 국가로 발전하였다.</p>
                            <p class="fs-3 mb-4">안데스산맥 지역의 비옥한 화산재를 기반으로 형성된 천혜의 자연조건과 200만 명에 달하는 커피 소작농들이 습식 가공법(Wet Method)으로 생산하는 콜롬비아의 커피는 품질이 매우 좋고, 감칠맛과 향미가 뛰어나 세계 최고급품으로 평가된다.</p>

                            <h2 class="fw-bolder mb-4 mt-5" id="character">커피 특징</h2>
                            <p class="fs-3 mb-3">풍부한 향미와 묵직한 바디감이 특징인 콜롬비아의 원두는 1,400m가 넘는 해발고도, 비옥한 화산재 토양, 온화한 기후, 그리고 적절한 강수량이 더해진 이상적인 조건에서 탄생한다. 그래서 전형적인 콜롬비아의 커피 농장들은 경사도가 55˚(도)를 넘는 험난하고 가파른 환경에 자리 잡고 있으며, 이 남다른 환경에서 콜롬비아는 특유의 커피 재배 방식을 발달시켰다.</p>
                            <p class="fs-3 mb-3">이러한 환경에 숙련된 농부는 ‘카페테로(Cafeteros)’라고 불리는데, 이들은 ‘작은 땅’의 평등이라는 전통하에 소규모 농가 생산 체계라는 생활 방식을 이어오고 있다. 자연적인 경관뿐 아니라 이로 인한 생활 방식까지 고스란히 간직한 콜롬비아의 커피 문화 경관은 정착민들이 적응해 가는 과정에서 비롯되어 오늘날까지 이어져 오고 있다.</p>
                            <p class="fs-3 mb-3">콜롬비아의 커피는 마일드한 커피의 대명사로 콜롬비아 수프레모(Supremo)와 엑셀소(Exelso)가 유명하며, 품질면에서는 세계 1위의 커피를 생산하는 국가이다. 커피 생산량은 브라질 다음으로 많은 양의 커피를 생산한다. </p>
                            <p class="fs-3 mb-4">콜롬비아 커피는 남쪽과 북쪽의 산미, 바디감이 조금씩 다르게 발현된다. 남쪽으로 내려갈수록 산미가 강해지고 북쪽으로 갈수록 산미가 적어지며 바디감이 강해진다. 콜롬비아에서는 로부스타 커피의 재배를 금지하고 있으면서 스크린 사이즈 13 이하의 생두는 수출을 금지하고 있다. 콜롬비아 생두는 청록색을 띠고 신맛, 단맛이 풍부한 편이다. 생두의 크기로 커피를 분류하여 4등급으로 나뉘는데 맛의 차이는 거의 없는 편이다. 가장 대표적인 콜롬비아 수프레모(Supremo)는 생두의 크기가 가장 큰 최고급 커피로, 스페셜티 커피로 분류된다. 수프레모는 중남미의 대표 커피로, 감미로운 아로마 향과 상쾌한 산미, 그리고 진한 초콜릿 향과 같은 단맛이 특징이다. </p>

                            <h2 class="fw-bolder mb-4 mt-5" id="productionarea">커피 생산지역</h2>
                            <p class="fs-3 mb-3">남북으로 펼쳐진 표고차가 큰 콜롬비아에서는 일년 내내 커피의 수확이 가능하다.
                                각지에서의 커피 맛이 특징적이며 특히 콜롬비아 남서부에 위치한 우일라에서 생산되는 원두는 무거운 질감이 특징이며 견과류, 초콜릿, 캐러멜 등의 향미와 적당한 산미를 자랑해 고급 스페셜티 커피로써 손색이 없다. </p>
                            <p class="fs-3 mb-4">주 재배종은 티피카와 부르봉을 중심으로 아라비카종만 재배하는데, 전통적으로 워시드 정제 방식을 사용한다. 수확은 일 년에 1~2회 이루어지며, 9~12월은 집중 수확 기간이다.
                                커피를 생산하는 안데스산맥 지역은 비옥한 화산재 토양과 온화한 기후, 적절한 강수량 등 이상적인 재배 조건을 갖추고 있다.</p>
                            
                            
                            <h4 class="fw-bolder mb-1">북부지방</h4>
                            <p class="fs-3 mb-3">
                                <b>막달레나, 카사나레, 산탄데르, 놀테 데 산탄데르
                                </b>
                                <br>
                                이 지역의 커피는 낮은 표고와 높은 기온의 토지에서 재배된다. 커피는 햇빛에 좀 더 길게 노출되기 때문에 고도의 고저 차이에 따라 단계적으로 나뉘어진 음지에서 보호된다.</p>                                
                            <p class="fs-3 mb-4">맛의 특징: 부드러운 신맛, 바디감 중~고, 견과류와 같은 감칠맛과 초콜릿과 같은 향</p>
                           
                           
                            <h4 class="fw-bolder mb-1">중부지방</h4>
                            <p class="fs-3 mb-3">
                                <b>칼다스, 킨디오, 리사랄다, 놀테 데 바제, 안티오키아, 쿤디나마루카,놀테 데 토리마
                                </b>
                                <br>
                                우기와 건기가 산재하여 발생하는 기후 덕분에 일년 내내 신선한 커피의 수확이 가능하다.
                                제1기의 주요 수확은 9월에서 12월로 미타카라고 불리는 제2기는 4월부터 6월에 행해진다.</p>
                            <p class="fs-3 mb-4">맛의 특징: 과일같은 느낌으로 허브같이 밸런스가 좋은 향기</p>

                            <h4 class="fw-bolder mb-1">남부지방</h4>
                            <p class="fs-3 mb-3">
                                <b>나리뇨, 카우카, 우일라, 스루 데 톨리마
                                </b>
                                <br>
                                적도에 가까운 이 지역에서는 표고가 높고 기온이 낮은 토지에서 재배된다.</p>                                
                            <p class="fs-3 mb-4">맛의 특징: 강한 신맛, 미디엄 바디감에 감귤 느낌이 나는 단 향기의 순한 맛</p>

                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4 upmargin">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#history">커피 역사</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#character">커피 특징</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><li><a href="#productionarea">커피 생산지역</a></li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">참고 자료</div>
                        <div class="card-body">
                            "<a href="https://terms.naver.com/entry.naver?docId=1150519&cid=40942&categoryId=34155" target="_blank">콜롬비아</a>" . 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1328867&cid=40942&categoryId=32127" target="_blank">콜롬비아 커피</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://www.cafeimports.com/north-america/colombia" target="_blank">cafe imports</a>". cafe imports.
                            <br>  
                            "<a href="https://terms.naver.com/entry.naver?docId=1391964&cid=49802&categoryId=50408" target="_blank">콜롬비아 커피 문화경관</a>". 유네스코 세계유산. 네이버지식백과
                            <br>  
                            "<a href="https://terms.naver.com/entry.naver?docId=962438&cid=48181&categoryId=48261" target="_blank">콜롬비아 수프레모</a>". 내 입맛에 딱 맞는 60가지 커피 수첩. 네이버지식백과. 2011
                            <br>  
                            "<a href="http://cafedecolombia.kr/colombia/" target="_blank">커피의 나라 콜롬비아</a>". FNC 콜롬비아 커피 생산자 연합회
                            <br>  
                            "<a href="http://kor.theasian.asia/archives/162111" target="_blank">[마크 강의 콜롬비아 커피이야기 1] 콜롬비아 커피의 유래</a>". 아시아엔. 2016
                            <br>  
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

         <!--Start of footer-->
        <section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>@ 2023 - Design By 권묘선, 김아형, 김윤정, 김진권, 이성용</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <!--End of footer-->
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!--Scroll to top-->
        <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
        <!--End of Scroll to top-->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>-->
        <script src= "{% static 'js/main/jquery-1.12.3.min.js' %}"></script>

        <!--Counter UP Waypoint-->
        <script src= "{% static 'js/main/waypoints.min.js' %}"></script>

        <!--Isotope-->
        <script src="{% static 'js/main/isotope/min/scripts-min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/cells-by-row.js' %}"></script>
        <script src= "{% static 'js/main/isotope/isotope.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/packery-mode.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/scripts.js' %}" ></script>


        <!--Back To Top-->
        <script src= "{% static 'js/main/backtotop.js' %}" ></script>


        <!--JQuery Click to Scroll down with Menu-->
        <script src= "{% static 'js/main/jquery.localScroll.min.js' %}"></script>
        <script src= "{% static 'js/main/jquery.scrollTo.min.js' %}"></script>
        <!--WOW With Animation-->
        <script src= "{% static 'js/main/wow.min.js' %}"></script>
        <!--WOW Activated-->
        <script>
            new WOW().init();
        </script>


        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src= "{% static 'js/main/bootstrap.min.js' %}" ></script>
        <!-- Custom JavaScript-->
        <script src= "{% static 'js/main/main.js' %}"></script>
    </body>
</html>
