{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Ethiopia</title>

        <link rel="shortcut icon" type="image/ico" href="{% static 'images/Flag_of_Ethiopia.svg' %}">

        <!--    Google Fonts-->
        <link href= 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'  rel='stylesheet' type='text/css'>


        <!--Animated CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/animate.min.css' %}">

        <!-- Bootstrap -->
        <link href="{% static 'css/main/bootstrap.min.css' %}" rel="stylesheet" >

        <link rel="stylesheet" href="{% static 'css/main/isotope/style.css' %}">

        <!--Main Stylesheet-->
        <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/main/styles1.css' %}">
        <!--Responsive Framework-->
        <link href="{% static 'css/main/responsive.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <!--Start Hedaer Section-->
        <section id="header">
            <div class="header-area">
                <div class="top_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="address">
                                    <p>MultiCampus Team Project</p>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="phone">
                                    <p>2023.03.06 ~ 2023.03.17</p>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of top header-->
                <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                    <div class="container">
                        <nav class="navbar navbar-default zero_mp ">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand custom_navbar-brand" href=".."><img src="{% static 'images/coffee_icon.png' %}" style="float: left; width: 70px; height: 50px;" alt=""></a>
                            </div>
                            <!--End of navbar-header-->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main_menu">
                                    <li><a class="header" href="../Colombia_a.html">콜롬비아</a></li>
                                    <li><a class="header" href="../Brazil_a.html">브라질</a></li>
                                    <li><a class="header" href="../Ethiopia_a.html">에티오피아</a></li>
                                    <li><a class="header" href="../Kenya_a.html">케냐</a></li>
                                    <li><a class="header" href="../tanzania.html">탄자니아</a></li>
                                    <li><a class="header" href="../Mexico.html">멕시코</a></li>
                                    <li><a class="header" href="../base.html">리뷰</a></li>
                                    <li><a class="header" href="../index.html">뉴스기사</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                        <!--End of nav-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of header menu-->
            </div>
            <!--end of header area-->
        </section>
        <!--End of Hedaer Section-->
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">에티오피아</h1>
                            <!-- Post meta content-->
                            <!-- <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div> -->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://cdn.cafeimports.com/images/23966-ethiopiacountrypagemap.png" alt="..." /></figure>
                        <!-- Post content--> 
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5" id="history">커피 역사</h2>
                            <p class="fs-3 mb-3">커피 발생지로 거론되고 있는 곳은 에티오피아만이 아니라 아라비아반도의 예멘(Yemen)까지 두 곳인데, 대중적으로 많이 알려진 이야기가 바로 에티오피아의 목동 칼디(Kaldi) 이야기다. 그는 염소들이 이상한 붉은 열매를 먹고 기운이 난다는 것을 알게 된다. 호기심에 직접 열매를 먹어본 칼디는 자신도 역시 기운이 나고 머리가 맑아지는 경험을 했고 이를 신기하게 여겨 이슬람 수도원의 수도사들에게 전했다. 수도사들은 처음에 이 이상한 열매가 악마의 열매가 아닐까라고 생각해 불 속에 던졌지만 이내 불 속에서 나는 향긋한 커피 향에 이끌려 커피를 음용하기 시작했고 그 후 커피에 잠을 쫓는 효과가 있는 것을 발견해 기도할 때 커피를 음료로 마시게 되었다는 이야기다.</p>
                            <p class="fs-3 mb-3">1600년대 에티오피아에서 처음으로 커피를 수출하였지만, 번번히 거래를 거절당하였고 예멘과 자바, 남·북 아메리카의 커피 시장의 성장으로 주춤하였다. 그러나 1800년대 초에 에티오피아 커피가 다시 주목 받기 시작하였다. 1920년대까지 하라리(Harari)와 아비니시아(Abyssinia) 등 두 종류의 등급으로 구분하다가 1957년에 에티오피아 국가커피위원회(National Coffee Board of Ethiopia, NCBE)가 설립되었고 이에 따라 새로운 등급 체계를 도입하여 성장하고 발전하였다. </p>
                            <p class="fs-3 mb-4">그러나 1970년대 하일레 셀라시에(Haile Selassie) 황제체제가 전복되면서 군부가 권력을 잡았으며 사회주의적 이상의 영향을 많이 받았다. 1991년 에티오피아의 인민혁명 민주전선(Ethiopian Peoples' Revolutionary Democratic Front)은 군부독재를 타도하고 민주주의 사회로 진입하는 데 큰 공헌을 하였다. 이에 따라 커피 생산자들이 거대한 커피 시장에 적응하고 변화에 대처해야 했고 이는 협동조합의 형성으로 이어졌고 협동조합은 조합원들에게 자금과 시장정보, 운송수단 등을 지원하였다. 2008년에 도입된 에티오피아 상품 거래소(Ethiopian Commodity Exchange)는 에티오피아의 커피 무역 시장에 큰 변화를 일으켰다. 에티오피아 상품거래소는 구매자와 판매자 모두를 보호하는 효율적인 무역체계 시스템으로 계약서상의 재정 투명성을 향상했다. 오늘날에는 에티오피아 상품거래소의 제약에서 벗어나 고품질의 이력 추적이 가능한 커피가 전 세계 소비자들에게 찾아가고 있다.</p>

                            <h2 class="fw-bolder mb-4 mt-5" id="character">커피 특징</h2>
                            <p class="fs-3 mb-3">커피의 역사가 깊은 에티오피아는 특별한 커피 문화를 가지고 있다. 바로 커피를 마시는 전통 의식인 ‘커피 세레모니(Coffee Ceremony)’이다. 가족과 친지들이 모일 때도, 손님을 대접할 때도 이 예식을 통해 커피를 마시는데, 단순히 커피를 끓여내는 것이 아니라 생두를 씻고, 볶고, 분쇄하고 끓이는 모든 과정을 포함하고 있다. 제베나(Jebena)라고 하는 전통 커피 주전자를 사용하며, 한 자리에서 총 3번 커피를 추출하여 진한 커피부터 연한 커피까지 세 가지 맛의 커피를 즐기는 것이 특징이다. 첫 잔은 우애, 두 번째 잔은 평화, 세 번째 잔은 축복의 의미가 담겨있다고 하며, 이 커피 세레모니는 현지어로 ‘분나 마프라트(Bunna Maffrate)’라고 불린다.
                                여기서 분나(Bunna 혹은 부나, Buna)는 에티오피아에서 커피를 뜻한다.</p>
                            <p class="fs-3 mb-3">국토 절반 이상이 해발 2,000m 이상의 고원 지역으로 적도 근처에 위치해 있어 커피 재배에 있어 최적의 조건을 갖추었지만, 다른 생산국에 비해서 기계화나 산업화는 더딘 편이다. 그래서 아직도 농장이 아닌 야생의 상태로 재배되거나 유기농법으로 생산하는 경우가 많으며, 다른 생산지에서 찾아볼 수 없는 품종이나 아직 발견되지 않은 품종도 많다고 한다.</p>
                            <p class="fs-3 mb-4">에티오피아 커피의 개성을 부여하는 가장 큰 원인은 이 지역의 재배 방식이 아닐까. 에티오피아에서는 커피 재배 형태를 가든(Garden), 포레스트(Forest), 세미 포레스트(Semi-Forest), 플랜테이션(Plantation)으로 구분한다. 명칭을 가만히 들여다보면 그 특징을 알 수 있는데, 가든은 농가에서 직접 재배하는 형태이며, 포레스트와 세미 포레스트는 야생 상태로 재배되는 커피로 세미 포레스트는 최소한의 관리가 포함되는 것이다. 마지막으로 플랜테이션은 대규모 농장에서 관리되는 형태를 말한다. 그리고 전체 생산의 95%가 유기농 재배이다. 상황이 이렇다 보니 결점두 수가 많아 유통되는 커피 등급이 Grade 4~5가 대부분이었는데, 점차 정부 차원의 커피 산업 지원이 확대되어 품질의 향상은 물론 생산량도 증가하고 있다고 한다.</p>

                            <h2 class="fw-bolder mb-4 mt-5" id="productionarea">커피 생산지역</h2>
                            <p class="fs-3 mb-3">우리에게 익숙한 커피(Coffee)라는 표현은 커피가 처음 발견된 곳인 카파(Kaffa)의 지역명이 다른 나라로 전파되면서 자연스럽게 변형된 단어이다. 칼디 전설의 배경이 되기도 하는 이 지역은 에티오피아의 서남쪽에 있는데, 이 카파를 중심으로 에티오피아의 주요 커피 산지가 밀집되어 있다. 예가체프(Yirgacheffe), 시다모(Sidamo), 짐마(Djimmah), 하라(Harrar), 리무(Limmu) 등이다. 에티오피아는 지역명이 그대로 원두 이름으로 사용되어 커피 애호가들에게는 이미 익숙한 명칭일 것이다.</p>
                            <p class="fs-3 mb-4">원두 이름은 심플하게 지역명으로 부르는 에티오피아지만, 커피의 향미는 지역별로 서로 개성이 뚜렷하다. 특히 개성이 강한 커피가 ‘커피의 귀부인’이라고 불리는 예가체프다. 세련된 향미의 스페셜티 커피로 많이 유통되고 있다. ‘에티오피아의 축복’이라고 불리는 하라 커피는 흙 향이 특징인데 그중 블루베리 등의 과일 향미가 나는 것은 최상급으로 분류된다. 하라 지역의 커피는 프랑스의 시인 랭보가 좋아했던 커피로도 유명하다. 시다모 커피는 과일 향부터 견과류와 허브향까지 복합적인 향미를 내며, 짐마와 리무 지역의 커피는 시다모 지역에 비해 다소 온화한 향미를 가지고 있다. 에티오피아 커피는 다양한 품종의 영향으로 꽃향기, 허브향, 감귤계 과일 향이 어우러진 특유의 향미가 오랫동안 맴도는 오묘한 맛을 지니고 있다. 커피나무의 개화 시기는 12월에서 4월이며, 커피의 수확은 워시드 가공방식일 때에는 8월에서 12월경, 내추럴 가공방식일 때에는 10월에서 그다음 해 3월경을 기준으로 수확한다.</p>
                                                        
            
                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4 upmargin">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#history">커피 역사</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#character">커피 특징</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><li><a href="#productionarea">커피 생산지역</a></li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">참고 자료</div>
                        <div class="card-body">
                            에티오피아 커피의 디카페인 공정과 로스팅 정도에 따른 관능적 품질 특성. 정현우. 2021
                            <br>
                            아네트 몰배르. 커피중독. 최가영(역). 서울: 시그마북스. 2015
                            <br>
                            호리구치 토시히데. 스페셜티 커피 테이스팅. 웅진리빙하우스. 2015
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1179248&cid=40942&categoryId=33136" target="_blank">에티오피아의 자연</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1328522&cid=40942&categoryId=32127" target="_blank">에티오피아 커피</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=3576177&cid=58986&categoryId=58990" target="_blank">커피의 탄생지, 짐마</a>". 커피로드. 박종만. 네이버캐스트
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=3576257&cid=58986&categoryId=58990" target="_blank">아프리카에는 커피가 없다</a>". 커피로드. 박종만. 네이버캐스트
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=3581052&cid=59048&categoryId=59048" target="_blank">에티오피아 커피 시장</a>". 세계의 시장을 가다. 윤오순. 네이버캐스트
                            <br>
                            "<a href="https://www.cafeimports.com/north-america/ethiopia" target="_blank">cafe imports</a>". cafe imports.
                            <br>  
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

         <!--Start of footer-->
        <section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>@ 2023 - Design By 권묘선, 김아형, 김윤정, 김진권, 이성용</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <!--End of footer-->

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!--Scroll to top-->
        <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
        <!--End of Scroll to top-->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>-->
        <script src= "{% static 'js/main/jquery-1.12.3.min.js' %}"></script>

        <!--Counter UP Waypoint-->
        <script src= "{% static 'js/main/waypoints.min.js' %}"></script>

        <!--Isotope-->
        <script src="{% static 'js/main/isotope/min/scripts-min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/cells-by-row.js' %}"></script>
        <script src= "{% static 'js/main/isotope/isotope.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/packery-mode.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/scripts.js' %}" ></script>


        <!--Back To Top-->
        <script src= "{% static 'js/main/backtotop.js' %}" ></script>


        <!--JQuery Click to Scroll down with Menu-->
        <script src= "{% static 'js/main/jquery.localScroll.min.js' %}"></script>
        <script src= "{% static 'js/main/jquery.scrollTo.min.js' %}"></script>
        <!--WOW With Animation-->
        <script src= "{% static 'js/main/wow.min.js' %}"></script>
        <!--WOW Activated-->
        <script>
            new WOW().init();
        </script>


        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src= "{% static 'js/main/bootstrap.min.js' %}" ></script>
        <!-- Custom JavaScript-->
        <script src= "{% static 'js/main/main.js' %}"></script>
    </body>
</html>
