{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Kenya</title>

        <link rel="shortcut icon" type="image/ico" href="{% static 'images/Flag_of_Kenya.svg' %}">

        <!--    Google Fonts-->
        <link href= 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'  rel='stylesheet' type='text/css'>


        <!--Animated CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/animate.min.css' %}">

        <!-- Bootstrap -->
        <link href="{% static 'css/main/bootstrap.min.css' %}" rel="stylesheet" >

        <link rel="stylesheet" href="{% static 'css/main/isotope/style.css' %}">

        <!--Main Stylesheet-->
        <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/main/styles1.css' %}">
        <!--Responsive Framework-->
        <link href="{% static 'css/main/responsive.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <!--Start Hedaer Section-->
        <section id="header">
            <div class="header-area">
                <div class="top_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="address">
                                    <p>MultiCampus Team Project</p>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="phone">
                                    <p>2023.03.06 ~ 2023.03.17</p>
                                </div>
                            </div>
                          
                            <!--End of col-md-4-->
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of top header-->
                <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                    <div class="container">
                        <nav class="navbar navbar-default zero_mp ">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand custom_navbar-brand" href=".."><img src="{% static 'images/coffee_icon.png' %}" style="float: left; width: 70px; height: 50px;" alt=""></a>
                            </div>
                            <!--End of navbar-header-->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main_menu">
                                    <li><a class="header" href="../Colombia_a.html">콜롬비아</a></li>
                                    <li><a class="header" href="../Brazil_a.html">브라질</a></li>
                                    <li><a class="header" href="../Ethiopia_a.html">에티오피아</a></li>
                                    <li><a class="header" href="../Kenya_a.html">케냐</a></li>
                                    <li><a class="header" href="../tanzania.html">탄자니아</a></li>
                                    <li><a class="header" href="../Mexico.html">멕시코</a></li>
                                    <li><a class="header" href="../base.html">리뷰</a></li>
                                    <li><a class="header" href="../index.html">뉴스기사</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                        <!--End of nav-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of header menu-->
            </div>
            <!--end of header area-->
        </section>
        <!--End of Hedaer Section-->
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">케냐</h1>
                            <!-- Post meta content-->
                            <!-- <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div> -->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://cdn.cafeimports.com/images/23960-kenyacountrypagemap.png" alt="..." /></figure>
                        <!-- Post content--> 
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5" id="history">커피 역사</h2>
                            <p class="fs-3 mb-3">케냐 커피는 1708년 프랑스 선교사들이 프랑스령 레위니옹 섬(Island Reunion)에 옮겨 심은 게 시작이었다고 전해지며, 1893년 스코틀랜드 선교사들에 의해 아라비카 종이 전해졌다고 한다. 그러다 1897년 탄자니아를 거쳐 지금의 나이로비 부근으로 확산하며 지금의 케냐 커피가 되었다고 한다.
                                19세기 후반 에티오피아 커피가 전해졌다고 하나 그 종은 케냐 커피의 주종이 되지 못했다.
                                결국 커피 역시 자연적 흐름이 아닌 정치적, 사회적 조류에 따라 흘러 번져갔던 것이라 외세의 영향에 따라 전해지고 발전되어져 왔다. 그래서 에티오피아와 케냐는 바로 인접한 나라임에도 전혀 다른 품종의 커피가 재배되고 있다.</p>
                            <p class="fs-3 mb-4">경작의 시작은 1893년 인도양 해안지역 부라(Bura)라고 한다. 그 뒤 1904년 나이로비 부근 키쿠유(kikuyu)족 거주지에서 본격적으로 재배되기 시작했고, 이미 1930년대 이미 커피위원회(CB:Coffee Board)가 설립(영국 식민정부)되어 품질관리, 인허가 등 커피 수출 업무를 체계적으로 관리하게 된다.
                                그리고 매주 화요일에 열리는 케냐 커피경매장(The Kenya Coffee Auctions)과 1947년에는 커피 판촉위원회(CMB:Coffee Marketing Board)가 만들어졌다.
                                그러다 1960년 현재의 케냐 커피위원회(CBK: Coffee Board of Kenya)로 발전하게 되었다.</p>

                            <h2 class="fw-bolder mb-4 mt-5" id="character">커피 특징</h2>
                            <p class="fs-3 mb-3">대륙의 한 면이 인도양과 맞닿아 있는 케냐는 내륙으로 갈수록 고도가 높아지며 고원지대를 형성한다. 수도는 1,676m의 고원에 위치한 ‘나이로비’이며, 나라 전체가 적도 부근에 있어 토양 상태, 강수량, 기온 모두가 커피 재배에 이상적인 자연조건을 갖추고 있다. 19세기 후반, 케냐 북쪽에 위치한 에티오피아를 통해 커피를 처음 도입하였고 다른 커피 생산국들에 비해 다소 늦은 시기였음에도 적극적인 국가지원사업 아래 이제는 국가 경제의 기반이 되는 제1의 수출상품으로 자리 잡았으며, 고품질의 아프리카 커피를 대표하기까지 이르렀다.</p>
                            <p class="fs-3 mb-3">그렇다면 세계적으로 커피 시장 점유율이 0.5%밖에 안 되는 케냐 커피가 이토록 유명해진 이유는 무엇일까. 앞서 말했듯 국가적 차원의 엄격한 품질 관리에 있다. 케냐는 커피와 커피나무에 관해서만큼은 모든 것에 대해 국가의 허가를 받아야 할 정도로 엄격하게 관리하고 있다. 커피 원두의 연구개발은 물론 품질에서 유통까지 꼼꼼하게 관리하며 적극적인 커피 산업 정책을 펼치고 있는데, 그 노력의 결과를 알 수 있는 것이 바로 품종 개발, 경작 실습 등 국가 차원의 지원정책을 이끄는 ‘케냐커피이사회(CBK; Coffee Board of Kenya)’와 케냐커피수출입협회(KCTA; Kenya Coffee Traders Association)가 주관하는 ‘커피 경매 시스템’이다. 다른 나라의 평균적인 커피 가격 대비 2배가량 높은 가격에 거래된다고 하니 케냐산 커피가 전세계적으로 얼마나 신뢰받는지 알 수 있다. 더불어, 이 경매 시스템은 커피 농가들이 더 좋은 커피를 생산하기 위해 노력하는 동기부여가 되어 고품질 커피 생두를 유지하는 중요한 견인책 역할을 하기도 한다. 게다가 커피 경매 시장은 자격증을 가진 판매자들이 경매에 붙여진 커피 샘플을 직접 로스팅하고 감정 결과를 발표한 뒤 가격을 매기는 방식으로 진행된다.</p>
                            <p class="fs-3 mb-4">나이로비 북동쪽에 위치한 티카(Thika)에 가면 케냐 정부 주도로 만들어진 대규모의 커피농장이 있는데, 얇은 경사에 넓게 펼쳐져 있는 커피나무들이 장관을 이룬다고 한다. 1,520m 고도에 위치하여 연중 선선한 온도와 질 좋은 토양 등 우수한 자연조건은 물론 농사짓기에 풍부한 물과 우수한 전력 사정 등 모든 조건이 커피 재배에 이상적이다. 특히, 붉은 적점토는 알루미늄과 철이 풍부해 케냐 커피 특유의 향미가 나도록 돕는 일등공신이다.</p>

                            <h2 class="fw-bolder mb-4 mt-5" id="productionarea">커피 생산지역</h2>
                            <p class="fs-3 mb-3">케냐의 주요 원두 생산지는 수도 나이로비 북쪽에 위치한 케냐산(Mt. Elgon)의 고원지역과 서쪽으로 국경이 맞닿아 있는 우간다의 접경 지역인 엘곤(Mt. Elgon), 나쿠루(Nakuru )의 동부지역 등이 있다. 특유의 깊은 신맛과 감미로운 과실의 향을 지닌 케냐 원두는 와인과 비교될 정도로 깊이 있는 향이 매력 포인트이다. 주 재배종은 주로 아라비카종이며, 대부분은 수출을 목적으로 워시드 방식으로 정제하고 있다. 수확은 일 년에 2회 정도 이루어지며, 9~12월이 집중 수확 기간이다.</p>
                            <p class="fs-3 mb-4">묵직한 바디감과 오묘한 과일 향, 가볍지 않은 산미를 가진 케냐 원두는 커피 매니아 뿐만 아니라 일반 소비자들에게도 사랑받는다. 이처럼 강한 산미가 매력적인 케냐산 원두는 여름철 아이스 메뉴에 많이 쓰이는데, 케냐 원두의 다양한 맛과 향이 순간적인 추출에도 잘 살아나 아이스커피로도 그 풍미를 느낄 수 있음은 물론 특유의 산미가 더운 날씨에 늘어진 생체리듬을 깨우는 데도 도움이 되기 때문이라고 한다. 유명한 ‘콜드브루’ 추출법 역시 대부분은 케냐산을 사용하는 것으로 알려져 있다.</p>
                                                        
                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4 upmargin">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#history">커피 역사</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#character">커피 특징</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><li><a href="#productionarea">커피 생산지역</a></li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">참고 자료</div>
                        <div class="card-body">
                            "<a href="https://terms.naver.com/entry.naver?docId=1331898&cid=40942&categoryId=40706" target="_blank">케냐 커피</a>" . 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=3575852&cid=58986&categoryId=58990" target="_blank">케냐의 블랙골드, 커피</a>". 박종만. 커피로드. 2011
                            <br>
                            "<a href="https://www.cafeimports.com/north-america/kenya" target="_blank">cafe imports</a>". cafe imports.
                            <br>  
                            "<a href="https://terms.naver.com/entry.naver?docId=1149697&cid=40942&categoryId=34215" target="_blank">케냐</a>". 두산백과. 네이버지식백과
                            <br>  
                            "<a href="https://www.mk.co.kr/news/business/7449501" target="_blank">‘콜드 브루’ 열풍의 비밀 캐보니 그 뒤엔 케냐 원두</a>". 전지현. 매일경제. 2016 
                            <br>  
                            "<a href="https://n.news.naver.com/mnews/article/086/0002145362?sid=103" target="_blank">케냐 커피 홀릭</a>". 최대봉. 내일신문. 2013
                            <br>  
                            "<a href="https://news.mt.co.kr/mtview.php?no=2008021909090120341&outlink=1&ref=http%3A%2F%2Fbaristarules.maeil.com" target="_blank">케냐, 질 좋은 커피와 차의 천국</a>". 송광섭. 머니투데이. 2008
                            <br>  
                            "<a href="https://smallfarmercoffee.com/news/?q=YToxOntzOjEyOiJrZXl3b3JkX3R5cGUiO3M6MzoiYWxsIjt9&bmode=view&idx=1158653&t=board" target="_blank">아웃오브아프리카-케냐 커피 100년의 이야기 3</a>". 작은농부커피. 2018
                            <br>
                        </div>                  
                    </div>
                </div>
            </div>
        </div>

         <!--Start of footer-->
        <section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>@ 2023 - Design By 권묘선, 김아형, 김윤정, 김진권, 이성용</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <!--End of footer-->

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!--Scroll to top-->
        <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
        <!--End of Scroll to top-->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>-->
        <script src= "{% static 'js/main/jquery-1.12.3.min.js' %}"></script>

        <!--Counter UP Waypoint-->
        <script src= "{% static 'js/main/waypoints.min.js' %}"></script>

        <!--Isotope-->
        <script src="{% static 'js/main/isotope/min/scripts-min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/cells-by-row.js' %}"></script>
        <script src= "{% static 'js/main/isotope/isotope.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/packery-mode.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/scripts.js' %}" ></script>


        <!--Back To Top-->
        <script src= "{% static 'js/main/backtotop.js' %}" ></script>


        <!--JQuery Click to Scroll down with Menu-->
        <script src= "{% static 'js/main/jquery.localScroll.min.js' %}"></script>
        <script src= "{% static 'js/main/jquery.scrollTo.min.js' %}"></script>
        <!--WOW With Animation-->
        <script src= "{% static 'js/main/wow.min.js' %}"></script>
        <!--WOW Activated-->
        <script>
            new WOW().init();
        </script>


        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src= "{% static 'js/main/bootstrap.min.js' %}" ></script>
        <!-- Custom JavaScript-->
        <script src= "{% static 'js/main/main.js' %}"></script>
    </body>
</html>
