{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Mexico</title>

        <link rel="shortcut icon" type="image/ico" href="{% static 'images/Flag_of_Mexico.svg' %}">

        <!--    Google Fonts-->
        <link href= 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'  rel='stylesheet' type='text/css'>


        <!--Animated CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/animate.min.css' %}">

        <!-- Bootstrap -->
        <link href="{% static 'css/main/bootstrap.min.css' %}" rel="stylesheet" >

        <link rel="stylesheet" href="{% static 'css/main/isotope/style.css' %}">

        <!--Main Stylesheet-->
        <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/main/styles1.css' %}">
        <!--Responsive Framework-->
        <link href="{% static 'css/main/responsive.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <!--Start Hedaer Section-->
        <section id="header">
            <div class="header-area">
                <div class="top_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="address">
                                    <p>MultiCampus Team Project</p>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="phone">
                                    <p>2023.03.06 ~ 2023.03.17</p>
                                </div>
                            </div>
                            
                            <!--End of col-md-4-->
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of top header-->
                <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                    <div class="container">
                        <nav class="navbar navbar-default zero_mp ">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand custom_navbar-brand" href=".."><img src="{% static "images/coffee_icon.png" %}" style="float: left; width: 70px; height: 50px;" alt=""></a>
                            </div>
                            <!--End of navbar-header-->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main_menu">
                                    <li><a class="header" href="../Colombia_a.html">콜롬비아</a></li>
                                    <li><a class="header" href="../Brazil_a.html">브라질</a></li>
                                    <li><a class="header" href="../Ethiopia_a.html">에티오피아</a></li>
                                    <li><a class="header" href="../Kenya_a.html">케냐</a></li>
                                    <li><a class="header" href="../tanzania.html">탄자니아</a></li>
                                    <li><a class="header" href="../Mexico.html">멕시코</a></li>
                                    <li><a class="header" href="../base.html">리뷰</a></li>
                                    <li><a class="header" href="../index.html">뉴스기사</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                        <!--End of nav-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of header menu-->
            </div>
            <!--end of header area-->
        </section>
        <!--End of Hedaer Section-->
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">멕시코</h1>
                            <!-- Post meta content-->
                            <!-- <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div> -->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://cdn.cafeimports.com/images/23959-mexicocountrypagemap.png" alt="..." /></figure>
                        <!-- Post content--> 
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5" id="history">커피 역사</h2>
                            <p class="fs-3 mb-3">멕시코에 처음 커피가 들어온 건 1700년대로, 상당히 오래전 일이지만 그동안 멕시코 커피는 저렴하고 매력은 그다지 없다고 여겨져 왔다. 앞서 설명한 것처럼 좋은 품질을 자랑하는 멕시코 커피도 많은데, 그동안 유명세를 타지 못한 이유는 무엇일까. 커피나무가 자라기에 훌륭한 지리적∙기후적 조건을 가지고 있더라도 커피체리의 수확 환경이나 생두 가공 설비가 제대로 갖추어지지 않는다면 높은 등급의 커피로 인정받기 어려운 법이다.</p>
                            <p class="fs-3 mb-3">1910년대 이전까지 멕시코 원주민들에게는 토지 소유의 개념이 없었을뿐더러 거의 모든 농민이 소유권이 확실하지 않은 마을의 공동 부지에서 농작물을 경작했다. 당시 대통령이었던 포르피리오 디아스(Porfirio Díaz)는 토지제도의 근대화란 명목으로 소유권이 애매한 토지를 정부가 모조리 몰수했다. 이렇게 거두어들인 부지들을 외국자본과 대농장주들에게 매각하는 정책을 추진하여 멕시코 농민의 대다수는 토지를 잃게 되었고 농업노동자로 전락하고 말았다. 그렇기 때문에 커피 농가의 기반 시설은 제대로 정비되지 않았고 농민들은 인권 침해, 노동 착취에 시달려야만 했다. 커피 생산자들이 생산성 향상에 어려움을 겪었을 뿐만 아니라 멕시코 정부의 지원 역시 전무하게 됨에 따라 이와 같은 악순환이 반복되었다.</p>
                            <p class="fs-3 mb-4">하지만 독재 정권에 항거한 멕시코 혁명 이후 1914년에 이르러서야 커피농장의 노동자들이 자유를 얻고 독자적으로 커피를 재배할 수 있게 되었다. 이를 계기로 정부 주도하에 멕시코커피연합회인 인메카(INMECAFE)를 설립하여 토착민이 대부분인 지역 생산자들에게 기술 지원과 자원 공급을 확대하려는 노력이 이루어졌다.</p>

                            <h2 class="fw-bolder mb-4 mt-5" id="character">커피 특징</h2>
                            <p class="fs-3 mb-3">멕시코는 국토의 1/3이 고원지대이기 때문에 좋은 품질의 커피가 생산되기 적합한 지리적∙기후적 조건을 갖추고 있다. 그늘 경작법(Shade Grown)을 이용한 유기농법(Organic Grown)으로 품질 향상에 노력을 가하고 있다.</p>
                            <p class="fs-3 mb-3">그늘 경작은 위 사진처럼 커피나무 주변에 키가 큰 나무를 심어 일조량을 조절하여 경작하는 방법이다. 그늘이 조성되면 주변의 새가 모여들어 해충이 줄고 풍해도 막는 효과가 있어 화학 성분의 살충제를 사용하지 않는 유기농법으로 커피나무를 재배할 수 있다.</p>
                            <p class="fs-3 mb-3">그늘만을 이용하는 쉬운 경작법이라 생각될 수 있지만 그늘을 형성하는 셰이드 트리(Shade Tree)로는 잎이 넓은 나무 중 해충이 꼬이기 쉬운 과실수와 영양 경쟁에서 우세한 나무를 제외하여 까다롭게 선정해야한다. 또한 커피나무와 함께 커피나무 수만큼의 셰이드 트리를 화학 합성물이 첨가되지 않은 천연 비료만으로 관리해야 되기 때문에 경작이 까다로운 편이다. 이런 과정들을 알게 된다면 유기농 커피의 생산성이 높지 않다는 점과 비싼 가격은 그리 놀라운 일이 아니다. 이렇게 비싼 가격에도 불구하고 커피 업계와 소비자들의 유기농 커피에 대한 관심이 매년 높아지며 멕시코는 커피 시장에서 꾸준히 경쟁력을 확보해가고 있다.</p>
                            <p class="fs-3 mb-3">이외에도 멕시코는 국가 차원에서 커피 산업에 대한 지원을 강화하며 커피 시장의 강자로 거듭나기 위해 노력을 가하고 있다. 다양한 커피 관련 행사를 개최하며 커피 생산지의 위상을 높이고 있는 것. 일례로 2000년대 이후로 멕시코 커피산업의 발전을 도모하게 하기 위해 생산자, 도소매업자, 소비자 등이 참가하는 멕시코시티 커피 박람회(Expo Cafe)를 매년 개최하고 있다.</p>
                            <p class="fs-3 mb-4">멕시코의 커피 문화는 새벽같이 눈을 떠 바쁘게 움직이는 현대인의 커피 문화와는 사뭇 다르다. 대부분 카페는 정오가 다 되어서야 문을 열어 ‘모닝커피’를 찾아보기 어렵다. 대신 ‘테이블 위에’라는 뜻의 ‘소브레메사(sobremesa)’라는 독특한 전통이 있다. 식사를 마치고 여러 명이 함께 의자에 기대어 앉아 여유롭게 커피를 마시는 것을 뜻한다. 시간은 자유롭다. 10분이 될 수도 있고 10시간이 될 수도 있다. 이 전통을 통해 멕시코인들이 커피를 마시며 여유를 찾는 시간을 중요시한다는 것을 알 수 있다.</p>

                            <h2 class="fw-bolder mb-4 mt-5" id="productionarea">커피 생산지역</h2>
                            <p class="fs-3 mb-3">멕시코의 북부지역은 커피 존(Coffee Zone, Coffee Belt)을 벗어나기 때문에 주로 남부 지방에서만 커피가 경작된다. 주요 생산지는 남부의 과테말라 국경지대에 있는 치아파스(Chiapas) 주이다. 화산지대로 이루어진 남부지방은 1,700m 이상의 고원지역으로 커피 경작에 이상적인 기후적 조건을 지녔다. 이곳에서 생산된 고품질 커피에는 일반적으로 ‘알투라(Altura)’라는 이름이 붙는데 이는 스페인어로 ‘높이’, ‘꼭대기’라는 뜻이다. 커피 수확은 대략 9월~3월에 이루어진다.</p>
                            <p class="fs-3 mb-3">과테말라와 접경지에 위치한 멕시코 남부 치아파스 주에서는 타파출라(Tapachula) 지역에서 생산된 커피가 유명하다. 이곳에서는 멕시코의 대표적인 커피 재배방식인 유기농법으로 주로 커피를 재배하고 있다. 또 다른 멕시코 커피의 주 재배지는 동부의 대서양 연안의 베라크루즈(Veracruz)와 남서부에 위치한 오악사카(Oaxaca) 주이다. 베라크루즈에서는 코아테펙(Coatepec) 지역의 커피가 유명하고 오악사카(Oaxaca)에서는 플루마 히달고(Pluma Hidalgo) 지역에서 생산된 커피가 대표적이다.</p>
                            <p class="fs-3 mb-3">일반적으로 멕시코 커피의 과육 부분인 체리는 달콤하고 가벼우며, 그 씨앗인 생두는 사과산(marlic acid)과 구연산(citric acid) 계열의 신맛이 난다. 전체적인 커피 맛은 부드럽고 마시기 편한 커피로 평가받는다. 바디가 강하지 않고 중성적인 특성 때문에 블렌딩의 기본으로 많이 사용된다.</p>



                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4 upmargin">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#history">커피 역사</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#character">커피 특징</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><li><a href="#productionarea">커피 생산지역</a></li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">참고 자료</div>
                        <div class="card-body">
                            "<a href="https://terms.naver.com/entry.naver?docId=1328521&cid=40942&categoryId=32127" target="_blank">멕시코 커피</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=386288&cid=48181&categoryId=48261" target="_blank">멕시코 커피</a>". 와인&커피 용어해설. 음식백과. 네이버지식백과
                            <br>
                            "<a href="https://www.cafeimports.com/europe/mexico" target="_blank">cafe imports</a>". cafe imports
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=545716&cid=46627&categoryId=46627" target="_blank">멕시코</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://www.hankyung.com/economy/article/2018020827891" target="_blank">멕시코에선 '모닝커피' 찾지 마세요</a>". 김보라. 한경경제. 2018
                            <br>
                            전광수의 커피로스팅, 전광수, 아이비라인, 2009
                            <br>
                            커피학개론&커피향미, 최치훈, 아이비라인, 2016
                            <br>
                            커피는 어렵지 않아, 세바스티엥 라시뇌 외 1인, GREENCOOK, 2017
                            <br>
                            커피인사이드, 유대준, Haemil, 2009
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Start of footer-->
        <section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>@ 2023 - Design By 권묘선, 김아형, 김윤정, 김진권, 이성용</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <!--End of footer-->

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!--Scroll to top-->
        <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
        <!--End of Scroll to top-->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>-->
        <script src= "{% static 'js/main/jquery-1.12.3.min.js' %}"></script>

        <!--Counter UP Waypoint-->
        <script src= "{% static 'js/main/waypoints.min.js' %}"></script>

        <!--Isotope-->
        <script src="{% static 'js/main/isotope/min/scripts-min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/cells-by-row.js' %}"></script>
        <script src= "{% static 'js/main/isotope/isotope.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/packery-mode.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/scripts.js' %}" ></script>


        <!--Back To Top-->
        <script src= "{% static 'js/main/backtotop.js' %}" ></script>


        <!--JQuery Click to Scroll down with Menu-->
        <script src= "{% static 'js/main/jquery.localScroll.min.js' %}"></script>
        <script src= "{% static 'js/main/jquery.scrollTo.min.js' %}"></script>
        <!--WOW With Animation-->
        <script src= "{% static 'js/main/wow.min.js' %}"></script>
        <!--WOW Activated-->
        <script>
            new WOW().init();
        </script>


        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src= "{% static 'js/main/bootstrap.min.js' %}" ></script>
        <!-- Custom JavaScript-->
        <script src= "{% static 'js/main/main.js' %}"></script>
    </body>
</html>

