{% load static %}
<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Tanzania</title>

        <link rel="shortcut icon" type="image/ico" href="{% static 'images/Flag_of_Tanzania.svg' %}">

        <!--    Google Fonts-->
        <link href= 'https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800'  rel='stylesheet' type='text/css'>


        <!--Animated CSS-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/main/animate.min.css' %}">

        <!-- Bootstrap -->
        <link href="{% static 'css/main/bootstrap.min.css' %}" rel="stylesheet" >

        <link rel="stylesheet" href="{% static 'css/main/isotope/style.css' %}">

        <!--Main Stylesheet-->
        <link rel="stylesheet" href="{% static 'css/main/style.css' %}">
        <link rel="stylesheet" href="{% static 'css/main/styles1.css' %}">
        <!--Responsive Framework-->
        <link href="{% static 'css/main/responsive.css' %}" rel="stylesheet">
        
    </head>
    <body>
        <!--Start Hedaer Section-->
        <section id="header">
            <div class="header-area">
                <div class="top_header">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="address">
                                    <p>MultiCampus Team Project</p>
                                </div>
                            </div>
                            <!--End of col-md-4-->
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 zero_mp">
                                <div class="phone">
                                    <p>2023.03.06 ~ 2023.03.17</p>
                                </div>
                            </div>
                           
                            <!--End of col-md-4-->
                        </div>
                        <!--End of row-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of top header-->
                <div class="header_menu text-center" data-spy="affix" data-offset-top="50" id="nav">
                    <div class="container">
                        <nav class="navbar navbar-default zero_mp ">
                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand custom_navbar-brand" href=".."><img src= "{% static "images/coffee_icon.png" %}" style="float: left; width: 70px; height: 50px;" alt=""></a>
                            </div>
                            <!--End of navbar-header-->

                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse zero_mp" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav navbar-right main_menu">
                                    <li><a class="header" href="../Colombia_a.html">콜롬비아</a></li>
                                    <li><a class="header" href="../Brazil_a.html">브라질</a></li>
                                    <li><a class="header" href="../Ethiopia_a.html">에티오피아</a></li>
                                    <li><a class="header" href="../Kenya_a.html">케냐</a></li>
                                    <li><a class="header" href="../tanzania.html">탄자니아</a></li>
                                    <li><a class="header" href="../Mexico.html">멕시코</a></li>
                                    <li><a class="header" href="../base.html">리뷰</a></li>
                                    <li><a class="header" href="../index.html">뉴스기사</a></li>
                                </ul>
                            </div>
                            <!-- /.navbar-collapse -->
                        </nav>
                        <!--End of nav-->
                    </div>
                    <!--End of container-->
                </div>
                <!--End of header menu-->
            </div>
            <!--end of header area-->
        </section>
        <!--End of Hedaer Section-->
        <!-- Page content-->
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">탄자니아</h1>
                            <!-- Post meta content-->
                            <!-- <div class="text-muted fst-italic mb-2">Posted on January 1, 2022 by Start Bootstrap</div> -->
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded" src="https://cdn.cafeimports.com/images/23954-tanzaniacountrypagemap.png" alt="..." /></figure>
                        <!-- Post content--> 
                        <section class="mb-5">
                            <h2 class="fw-bolder mb-4 mt-5" id="history">커피 역사</h2>
                            <p class="fs-3 mb-4">1892년 독일의 지배를 받기 시작하면서부터 커피 재배를 본격적으로 시작했다. 제1차 세계대전 이후 영국의 지배를 받으면서 커피산업이 발달하였다.
                                현재는 아라비카 70%, 로부스타를 30% 정도 생산하고 있으며, 큰 규모의 농장보다는 가족 단위의 소농이 더 많다. 특히 커피나무에 적당한 일조량을 주기 위해 바나나 나무 등 키가 큰 나무를 중간중간 심어 그늘을 마련해주는 셰이드 농법(셰이드 그로운, Shade grown)을 많이 사용하고 있으며, 음베야 지역은 유기농 커피로 공정무역 커피를 생산하고 있다.</p>

                            <h2 class="fw-bolder mb-4 mt-5" id="character">커피 특징</h2>
                            <p class="fs-3 mb-3">탄자니아는 케냐와 북쪽 국경을 마주하고 있으며 국토 대부분이 산지로 이루어져 있다. 지금은 활동하지 않는 화산인 킬리만자로산을 비롯해 고도 4,000m 이상의 산이 많아 화산재 토양과 고산지대의 장점을 고스란히 가지고 있으며, 강수량도 풍부해 커피 재배에 좋은 자연환경을 갖추고 있다. 탄자니아 커피는 '커피의 신사', '영국 왕실의 커피'라고도 불린다.</p>
                            <p class="fs-3 mb-3">탄자니아에는 독특한 전통 커피 레시피가 있다. 생강 커피(Ginger Coffee)라고 하는데 생강을 넣고 끓인 물에 커피 가루와 설탕을 넣고 다시 끓여 거름망에 걸러 마시는 것이다. 음료라기보다는 약에 가까운 건강 음료로 음용하고 있으며, 우리가 마시는 커피보다 약간 걸쭉한 느낌이며 생강차에 가까운 맛이라고 한다.</p>
                            <p class="fs-3 mb-4">킬리만자로 산자락에서 자란 킬리만자로, 탄자니아 AA는 로스팅 카페에서 어렵지 않게 만날 수 있는 원두이다. 산미와 단맛의 밸런스가 좋고 농도가 짙게 추출되는 경향이 있어 아이스 커피로 그만이라고 하니 기회가 된다면 아이스로 마셔보길 추천한다.</p>

                            <h2 class="fw-bolder mb-4 mt-5" id="productionarea">커피 생산지역</h2>
                            <p class="fs-3 mb-3">탄자니아의 주요 생산지는 모시(Moshi) 지역을 비롯한 킬리만자로산과 빅토리아 호수 근처의 북부 지역이며, 최근 음베야(Mbeya)를 비롯한 남부 지역이 주목받고 있다고 한다. 아라비카의 주요 산지는 킬리만자로 화산지대에 있는 모시(Moshi)지역과 탕가니카(Tanganyika)· 니아사(Nyasa) 호수 지역이며, 로부스타는 탕가(Tanga) 지역이 유명하다. 
                                아라비카의 수확은 10월~2월경으로 주로 습식법으로 가공하며, 로부스타는 6월~12월에 수확하여 건식법으로 가공한다.</p>
                            <p class="fs-3 mb-3">북쪽의 커피는 대체로 산과 바디감이 있고 밸런스가 좋아 높은 평가를 받는다. 남부 지역의 커피는 밸런스는 좋지만, 산이 적게 느껴지는 켄트종이 많아 북부 지역의 원두에 비해 향미를 다소 무겁게 느낄 수 있다. 전체적으로 탄자니아 커피는 부드럽고 깔끔한 맛을 가지고 있다. </p>
                            <p class="fs-3 mb-3">탄자니아를 대표하는 커피는 ‘킬리만자로’라는 이름으로도 알려진 ‘탄자니아 AA’다. 회색빛이 도는 독특한 생두색으로 쉽게 구분할 수 있다. 와인과 비교될 만큼 섬세한 맛과 향의 밸런스가 특징이며, 생산량의 상당 부분이 영국 왕실로 수입되어 ‘영국 왕실의 커피’라는 별명을 얻었다.</p>

                        </section>
                    </article>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4 upmargin">
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#history">커피 역사</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#character">커피 특징</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-4">
                                    <ul class="list-unstyled mb-0">
                                        <li><li><a href="#productionarea">커피 생산지역</a></li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">참고 자료</div>
                        <div class="card-body">
                            "<a href="https://terms.naver.com/entry.naver?docId=1152203&cid=40942&categoryId=34220" target="_blank">탄자니아</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=962431&cid=48181&categoryId=48261" target="_blank">탄자니아</a>". 내 입맛에 딱 맞는 60가지 커피 수첩. 음식백과. 네이버지식백과
                            <br>
                            "<a href="https://www.cafeimports.com/north-america/tanzania" target="_blank">cafe imports</a>". cafe imports
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1180326&cid=40942&categoryId=33136" target="_blank">탄자니아 자연</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1329937&cid=40942&categoryId=40711" target="_blank">탄자니아 커피</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1338426&cid=40942&categoryId=32127" target="_blank">킬리만자로</a>". 두산백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=962432&cid=48181&categoryId=48261" target="_blank">탄자니아AA</a>". 내 입맛에 딱 맞는 60가지 커피 수첩. 음식백과. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=1338428&ref=y&cid=40942&categoryId=32127" target="_blank">음베아</a>". 두산백과, 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=3576052&cid=58986&categoryId=58990" target="_blank">킬리만자로의 선물, 탄자니아 커피</a>". 커피로드. 박종만. 네이버지식백과
                            <br>
                            "<a href="https://terms.naver.com/entry.naver?docId=3576099&cid=58986&categoryId=58990" target="_blank">탄자니아의 축복, 킬리만자로</a>". 커피로드. 박종만. 네이버지식백과
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--Start of footer-->
        <section id="footer">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <div class="copyright">
                            <p>@ 2023 - Design By 권묘선, 김아형, 김윤정, 김진권, 이성용</p>
                        </div>
                    </div>
                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </section>
        <!--End of footer-->

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!--Scroll to top-->
        <a href="#" id="back-to-top" title="Back to top">&uarr;</a>
        <!--End of Scroll to top-->


        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js'></script>-->
        <script src= "{% static 'js/main/jquery-1.12.3.min.js' %}"></script>

        <!--Counter UP Waypoint-->
        <script src= "{% static 'js/main/waypoints.min.js' %}"></script>

        <!--Isotope-->
        <script src="{% static 'js/main/isotope/min/scripts-min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/cells-by-row.js' %}"></script>
        <script src= "{% static 'js/main/isotope/isotope.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/packery-mode.pkgd.min.js' %}"></script>
        <script src= "{% static 'js/main/isotope/scripts.js' %}" ></script>


        <!--Back To Top-->
        <script src= "{% static 'js/main/backtotop.js' %}" ></script>


        <!--JQuery Click to Scroll down with Menu-->
        <script src= "{% static 'js/main/jquery.localScroll.min.js' %}"></script>
        <script src= "{% static 'js/main/jquery.scrollTo.min.js' %}"></script>
        <!--WOW With Animation-->
        <script src= "{% static 'js/main/wow.min.js' %}"></script>
        <!--WOW Activated-->
        <script>
            new WOW().init();
        </script>


        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src= "{% static 'js/main/bootstrap.min.js' %}" ></script>
        <!-- Custom JavaScript-->
        <script src= "{% static 'js/main/main.js' %}"></script>
    </body>
</html>