.container {
    transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
    -ms-transition: all 0.9s ease 0s;
}
.zero_mp {
    padding: 0;
    margin: 0;
}

/*header*/

/*Header Top header*/

#header .top_header {
    min-height: 50px;
    background: #FBFBFB;
    border-bottom: 2px solid #F2F2F2;
    padding-top: 15px;
}
#header .top_header .address {
    border-right: 1px solid #E6E5E5;
}
#header .top_header .address p {
    font-size: 12px;
    padding-top: 2px;
    color: #646464;
    font-family: 'Open Sans', sans-serif;
}
#header .top_header .phone {
    margin-left: 10px;
}
#header .top_header .phone p {
    color: #646464;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    padding-top: 1px;
    display: inline-block;
}
#header .top_header .social_icon i {
    padding: 0 5px;
    color: #787878;
    font-size: 12px;
    font-weight: 700;
}
#header .top_header .social_icon i:hover {
    color: #43A906;
}

/*End of top header*/

#header .header_menu {
    min-height: 80px;
    border-bottom: 1px solid #3D3E3D;
    z-index: 9999;
}
#header .header_menu .navbar {
    border: 0px solid transparent;
}
#header .header_menu .custom_navbar-brand {
    padding-left: 0;
}
#header .header_menu .navbar-default {
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
}
#header .header_menu .navbar-default .navbar-nav>.active>a,
#header .header_menu .navbar-default .navbar-nav>.active>a:focus,
#header .header_menu .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(255, 255, 255, 0);
}
#header .header_menu .main_menu {
    padding-top: 20px;
}
#header .header_menu ul.main_menu li a {
    color: #393939;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: 'Stylish', sans-serif;
}
#header .header_menu ul.main_menu li a:hover {
    color: #4DA91C;
}
/* #header .header_menu ul.main_menu li.active a {
    color: #4DA91C;
} */
#header .header_menu ul.main_menu li,
#header .header_menu ul.main_menu li.active a {
    display: inline-block;
    position: relative;
}
#header .header_menu ul.main_menu li:after {
    content: '';
    display: block;
    margin: auto;
    height: 3px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
    margin-top: 6px;
}
#header .header_menu ul.main_menu li:hover:after /*,
#header .header_menu ul.main_menu li.active:after */ {
    width: 90%;
    background: #4DA91C;
}

/*Footer*/

#footer {
    position: bottom;
    min-height: 100px;
    background: #222222;
    color: #fff;
}
#footer .copyright,
#footer .designer {
    padding-top: 45px;
    font-size: 14px;
}
#footer .copyright p {
    text-align: center;
}
#footer .designer p {
    text-align: center;
}
#footer .copyright p,
#footer .copyright p span a,
#footer .designer p,
#footer .designer a {
    font-size: 14px;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    padding-left: 3px;
    text-align: center;
}