{% load static %}
<!doctype html>
<html lang="ko">
<head>
    <title>리뷰 게시판</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    {% comment %}
	<link rel="stylesheet" href="/static/style.css">
    {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/review/style.css' %}">
    <script src = 'http://code.jquery.com/jquery-3.6.0.min.js'></script>    
</head>
    <body>
<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->
<!-- jQuery JS -->
        <!-- <script src="{% static 'js/jquery.min.js' %}"></script> -->
<!-- Bootstrap JS -->
        <!-- <script src="{% static 'js/bootstrap.min.js' %}"></script> -->
<!-- 자바스크립트 Start -->
{% block script %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<!-- Bootstrap JS -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static "js/popper.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>
{% endblock %}
<!-- 자바스크립트 End -->

    </body>
</html> 